html, body {
	height: 100%;
}

body {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	background: url('../img/background.jpg');
	background-size: cover;
	text-rendering: optimizeLegibility;
}

.profile {
	width: 100%;
	max-width: 600px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	background-color: #FFFFFF;
}

/* Header*/
.profile header {
	background: #00796B;
	color: #fdfdfd;
	display: flex;
	align-items: center;
	padding: 20px;
	box-sizing: border-box;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.profile header .avatar {
	display: block;
	position: relative;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	width: 125px;
	height: 125px;
}

.profile header .bio {
	height: 125px;
}

.profile header .bio h2 {
	margin: 0 0 0 20px;
	font-weight: 200;
	font-size: 26px;
	color: rgba(255, 255, 255, 0.87);
}

.profile header .bio h3 {
	margin: 0 20px;
	font-size: 16px;
	font-weight: 200;
	color: rgba(255, 255, 255, 0.71);
}

.profile header .bio p {
	margin: 0 20px;
	font-size: 14px;
}

/* Sections */
.profile main {
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.profile section {
	padding: 5px 20px;
}

.profile section h1 {
	margin: 0;
	font-weight: 200;
	font-size: 31px;
	color: rgba(0, 0, 0, 0.87);
}

.profile section p {
	margin: 0;
	font-weight: 400;
	color: rgba(0, 0, 0, 0.71);
	font-size: 14px;
}

/* Label list */
.profile ul.labels {
	list-style: none;
	padding: 0;
}

.profile ul.labels li {
	display: inline-block;
	background-color: #E4E4E4;
	border-radius: 16px;
	padding: 7px 12px;
	font-size: 13px;
	color: rgba(0, 0, 0, 0.6);
}

/* Shortcuts */
.profile .shortcuts {
	margin-top: auto;
	display: flex;
	justify-content: space-around;
}

.profile .shortcuts .shortcut {
	display: block;
	width: 150px;
	padding: 5px;
	font-size: 32px;
	text-align: center;
	color: rgba(0, 0, 0, 0.4);
	box-sizing: border-box;
	text-decoration: none;
}

.profile .shortcuts .shortcut:hover {
	color: #FFFFFF;
}

.profile .shortcuts .shortcut.facebook:hover {
	background-color: #3d5b99;
}

.profile .shortcuts .shortcut.twitter:hover {
	background-color: #00aced;
}

.profile .shortcuts .shortcut.github:hover {
	background-color: #000000;
}

.profile .shortcuts .shortcut.linkedin:hover {
	background-color: #0073a4;
}

/* This effect needs to be redone, I don't like it */
/*
.shortcut::after{
	content: attr(data-medium);
	display: inline-block;
	height: 32px;
	font-size: 16px;
	padding: 5px 0;
	vertical-align: middle;
	width: 0;
	overflow: hidden;
	text-align: center;
	transition: width 600ms, margin-left 600ms;
}

.shortcut:hover::after{
	width: 90px;
}
*/
/* Mobile */
@media (max-width: 610px) {
	body {
		background: none;
	}

	.profile {
		width: 100%;
		height: 100%;
		box-shadow: none;
		border-radius: 0;
	}
}
