html, body {
	height: 100%;
}

body {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	background-size: cover;
	background-color: #fdfdfd;
}

/* Header*/
header {
	background: #00a89a;
	color: #fdfdfd;
	text-align: center;
	padding: 60px 0;
	box-sizing: border-box;
}

header h2 {
	margin: 0;
	font-weight: 200;
	font-size: 40px;
	color: rgba(255, 255, 255, 0.87);
}

header h3 {
	margin: 0;
	font-size: 28px;
	font-weight: 200;
	color: rgba(255, 255, 255, 0.71);
}

/* Sections */
main {
	margin: 0 auto;
	width: 100%;
	max-width: 1500px;
	display: grid;
	grid-template-columns: 50% 50%;
}

main section {
	grid-column: 1;
}

main section:nth-child(2n) {
	grid-column: 2;
}

section {
	padding: 6px 24px;
}

section h1 {
	margin: 0;
	font-weight: 200;
	font-size: 31px;
	color: rgba(0, 0, 0, 0.87);
}

section p {
	margin: 0;
	font-weight: 400;
	color: rgba(0, 0, 0, 0.71);
	font-size: 14px;
}

/* Shortcuts */
.shortcuts {
	display: flex;
	flex-wrap: wrap;
}

.shortcuts .shortcut {
	--color: rgba(0, 0, 0, 0.87);
	box-sizing: border-box;
	text-decoration: none;
	display: flex;
	padding: 9px;
	color: var(--color);
	transition: color 200ms, background-color 200ms;
	width: calc(100% / 3);
}

.shortcuts .shortcut:hover {
	background-color: var(--color);
	color: #FFFFFF;
}

.shortcuts .shortcut em {
	font-style: normal;
	line-height: 32px;
}

.shortcuts .shortcut .fa {
	display: block;
	width: 32px;
	text-align: center;
	font-size: 32px;
	margin-right: 12px;
}

.shortcuts .shortcut.facebook {
	--color: #3b5998;
}

.shortcuts .shortcut.twitter {
	--color: #1da1f2;
}

.shortcuts .shortcut.github {
	--color: #333333;
}

.shortcuts .shortcut.linkedin {
	--color: #0077b5;
}

.shortcuts .shortcut.gitlab {
	--color: #fc6d26;
}

.shortcuts .shortcut.telegram {
	--color: #0088cc;
}