/* Quick and dirty CSS reset **/
body, h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

* {
	box-sizing: border-box !important;
}

/* Actual "design" things **/
body {
	font-family: 'WorkSans Regular', sans-serif;
	color: #1A1A1B;
	font-size: 14px;
	line-height: 1.25em;
	background-color: #424242;
}

h1 {
	font-weight: 300;
	font-size: 2em;
}

.container {
	width: 100%;
	max-width: 30rem;
	padding: 1rem;
	margin: 1rem auto;
	background-color: #F5F5F5;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.container.header {
	background-color: transparent;
	box-shadow: none;
	color: #FFFFFF;
}

h2 {
	font-weight: 300;
	font-size: 1.6em;
	padding-bottom: 0.4em;
	color: #EF6C00;
	border-bottom: 1px solid #EF6C00;
}

p {
	margin: 0;
	padding: .5em 0;
}

ul {
	margin: 0;
}

.container.blog .date {
	display: block;
	font-style: italic;
}

a {
	color: #0277BD;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.sponsor-card, .sponsor-button {
	width: 28rem;
	max-width: 100%;
	border: 0;
}

.sponsor-button {
	display: none;
}

@media (max-width: 30rem) {
	.sponsor-card {
		display: none;
	}

	.sponsor-button {
		display: block;
	}
}